<ion-view view-title="MQTT Setup">
  <ion-content class="padding">
    <h1>Thank you for trying this out</h1>
    <p>
        <label class="item item-input">
            <span class="input-label">Server</span>
            <input type="text" ng-model="mqtt.server">
        </label>
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="mqtt.username">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="mqtt.password">
        </label>
        <label class="item item-input">
            <span class="input-label">Port</span>
            <input type="number" ng-model="mqtt.port">
        </label>
        <ion-toggle ng-model="mqtt.ssl" toggle-class="toggle-calm">SSL</ion-toggle>
        <button ng-class="class" ng-click="connect()">
            Connect
        </button>
        <div id="map" data-tap-disabled="true"></div>
    </p>
  </ion-content>
</ion-view>
